<!DOCTYPE html>
<html>
<head>
    <title>Image Classification with VGG16</title>
</head>
<body>
    <style>

        h1,h2{
            text-align: center;
        }
        .int{
            padding-left: 480px;
            margin-top: 20px;
        }
        img{
            display:block;
            margin:0 auto;
        }
    </style>
    <h1>Image Classification with VGG16</h1>
    
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input class="int" type="file" name="image" accept="image/*" required>
        <input class="sbt"  type="submit" value="Upload and Classify">
    </form>

    {% if image_path %}
    <h2>Uploaded Image:</h2>
    <img src="{{ image_path }}" style="max-width: 300px;">

    <h2>The Uploaded Image Is:{{predictions}}</h2>
    {% endif %}
</body>
</html>
